*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Inter", sans-serif;
}
header{
    padding-top: 50px;
}
nav{
    background-color: #fff;
    width: 83%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    gap:25px;
}
nav ul li {
 list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
.accessButon button {
    background: #469165;
    padding: 10px 11px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.7s ease-out;
}

.accessButon button a {
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}
.accessButon button:hover {
    background: none;
    border: 1px solid #469165;
}

.accessButon button:hover a {
    color: #469165;
}
.section{
 
    background: url('../assets/hero-bg.png');
    padding-top: 50px;
}
.container{
    width: 83%;
    max-width: 1140px;
    margin: 0 auto;
}
.section .container h4 {
    margin: 20px 476px;
    background: #ffffff;
    width: 210px;
    text-align: center;
    padding: 2px 2px;
    border-radius: 50px;
    color: #469165;
    font-size: 15px;
}
.section .container h1 {
    text-align: center;
    color: #fff;
    font-size: 58px;
    padding-bottom: 20px;
    font-weight:extra-bold;
}
.section .container h1  span{
    color: #469165;
}
.section .container p {
    text-align: center;
    padding: 36px 126px;
    line-height: 27px;
    color: #fff;
}
.header-button{
    display: flex;
    gap: 10;
    justify-content: center;
    padding-bottom: 20px;
}
.subBtn{
    margin: 20px;
    background: #469165;
    padding: 10px;
    border-radius: 5px;
}
.subBtn a{
  text-decoration: none;
  color: #fff;
}
.subBtn:hover{
  
    background:none;
    border: 1px solid #fff;
}
.container{
     width: 83%;
    max-width: 1140px;
    margin: 0 auto;
}
.service{
    padding-top: 50px;
}
.header-section{
    text-align: center;
}
.header-section h2{
    font-weight: bold;
    font-size: 48px;
    margin-top: 15px;
}
.header-section p{
    color: #627382;
    padding: 10px;
}
.service-box {
    display: flex;
    gap: 23px;
    padding-bottom: 40px;
}
.service-card {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 12px 12px 46px #0000002e;
}
.icon {
    background: #F95555;
    width: 50px;
    height: 50px;
    /* padding: 30px; */
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 10px;
}
.service-card .content{
    text-align: center;
}
.service-card .content h3{
  font-size: 24px;
  font-weight: 700;
}
.service-card .content p {
    color: #627382;
    padding: 0px;
    font-size: 15px;
    line-height: 24px;
}
.solution-flex{
    display: flex;
}
.solution-content{
    padding: 150px 0;
}
.solution-content h4{
    color: #469165;
    margin-bottom: 20px;
}
.solution-content h2{
    font-size: 48px;
    margin-top: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.solution-content p{
    color: #627382;
    padding: 0px;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    margin-bottom: 20px;
}
.solution-content ul{
    list-style: none;
}
.solution-content li{
  padding-bottom: 12px;
    font-weight: bold;
}
.fa-circle-check{
    color: #469165;
}
.section-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F7F6F2;
    padding: 150px 0;
}
.accessSection{
    margin-bottom: 140px;
}
.section-flex h2{
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}
.section-flex p{
    text-align: center;
    color: #627382;
    line-height: 24px;
    margin-bottom: 20px;

}
.section-flex .ace-pad{
    padding: 22px;
}
footer{
    background: #001931;
  
}
.footer-flex{
    display: flex;
    justify-content: space-between;
      padding: 100px 0;
}
.footer-flex h3{
  color: #fff;
}
.footer-flex a{
    text-decoration: none;
    color: #F7F6F2;
    margin-right:10px ;
}
.footnote{
    text-align: center;
    color: #fff;
}